<header>
  <div class="logo">
    <span class="app-title">Nike</span>
  </div>
  <a class="first-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Watch</a>
  <a routerLink="/movies" routerLinkActive="active">Movies</a>
  <a routerLink="/series" routerLinkActive="active">TV Shows</a>
  <a routerLink="/kids" routerLinkActive="active">Kids</a>
  <span class="flex-spacer"></span>
  <a routerLink="/login">My Account</a>
<!--
  <img class="avatar" src="https://cdn.dribbble.com/assets/default_avatars/avatar-2-422f0d0aa1e9fc3b2e264ca132183fadb5096eb396c7e1912cdedd8a5c3fd907.png" alt="">
-->
</header>
