/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}

:root {
  --primary-color: #1f2ddc;
  --medium-emphasis-color: rgba(0, 0, 0, 0.6);
}
